.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: whitesmoke;
  padding: 1px;
  border: 2px;
}

.header-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 16px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
}

.nav-button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.logo {
  width: 80px;
  height: auto;
}
